:root{
    --yellow: #FFC53D;
    --orange: #FF9A3D;
    font-size: 10px;
}

.wraper {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.02rem;
}


/* nawigacja */

nav {
    font-size: 2rem;
    align-items: center;
    align-items: center;
    margin: 0 20px; 
}



nav ul{
    display: flex;
    flex-direction: row;
    /* flex-flow: row-rewerse wrap-reverse; */
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    
}


.bigLetterSpaced{
    letter-spacing: 0.15rem;
}

nav li{
    margin: 0 20px;
}

nav li.scallableItem{
    flex-grow: 1;
}

h1{
    font-weight: bold;
}

/* header */

header {
    text-align: center; 
}

.headerPhoto{
    background-image: url("img/headerPhoto.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 40rem;
    box-sizing: border-box;
    padding: 10rem 30rem 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    color: var(--yellow);
}

header h2{
    color: white;
}

header h3{
    font-size: 2rem;
}


header button{
    margin: 0.5rem 2rem;
}

button{
    padding: 2rem;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border-radius: 15px;
    border:none;
    min-width: 100px;
    font-weight: bold;
}

button:hover{
    border: 2px solid var(--orange);
    color: var(--orange);
    background: none;
}

/* about section */
.about {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 5rem;
    box-sizing: border-box;
    margin: auto;
}

.about h1{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    flex-grow: 1;
}

.about img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 10px 10px 10px grey;
    align-self: flex-start;
    /* margin: auto; */
}


.about ul{
    list-style: none;
    padding: 0 2.5rem;
}

.about div{
    list-style: none;
    padding: 0 2.5rem;
}



.yellowTekst{
    color: var(--yellow);
}

.yellowSeparator{
    border-right: 2px dashed var(--yellow);
}

.shortInfo{
    width: 20rem;
}

.longInfo{
    width: 40rem;
    max-width: 50rem;
    flex-grow: 1;
    text-align: justify;
    letter-spacing: 0.04rem;
}

/* offer */

.offer{
    font-size: 2.5rem;
    width:90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem,40rem));
    grid-row-gap: 1rem;
    margin: auto;
    justify-content: center;
}

.offerHeader{
    grid-column: 1 / span 3;
}

.offerHeader h1{
    text-align: center;
}

.offerBox{
    text-align: center;
    letter-spacing: normal;
}



/* gallery */

.gallery{
    display: grid;
    grid-template: auto 30rem 30rem / repeat(6,1fr);
    grid-template-areas:
        "galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader galleryHeader"
        "img1 img1 img2 img2 img3 img3"
        "img4 img4 img4 img5 img5 img6";
    font-size: 2rem;
    margin-bottom: 5rem;
}


.galleryHeader{
    grid-area: galleryHeader;
    text-align: center;
}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.img6{
    grid-area: img6;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* contact form */

.concactForm{
    font-size: 2rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
}

.concactHeader{
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    padding: 0 10rem;
}

.concactFormInfo{
    grid-area: 2 / 1 / span 1 / span 1;
    background: var(--orange); 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5rem; 
    color: white;
    letter-spacing: 0.04rem;
}

.request{
    width: 50%;
    max-width: 20rem;
    margin-top: 1rem;
    text-align: justify;
}

.request p{
    margin-top: 1rem;
}

.concactSocialMedia{
    width: 50%;
    margin-top: 1rem;
}

p.icons{
    text-align: justify
}

.concactFormUserData{
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem 5rem 5rem;
    
}

.concactFormUserData button{
    align-self: flex-end;
}


/* .concactFormUserData form{
    width: 100%;
} */

form > *{
    width: 100%;
    border-radius: 15px;
    resize: none;
    margin: 1rem;
}

input[type='text']{
    height: 3rem;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: normal;
}



textarea[type='']

.concactFormInfo a{
    color: white;
}

.shadow{
    grid-area: 2 / 1 / -1 / -1;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    z-index: -1;
}

/* footer */

footer{
    font-size: 2rem;
    color:#A0A0A0;
    text-align: center;
    margin-top: 2rem;
}